NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:<YOUR-PASSWORD>@db.werhuxysqewoewqsumed.supabase.co:5432/postgres
REDIS_URL=redis://localhost:6379

SUPABASE_URL=https://werhuxysqewoewqsumed.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_LOAUp_tOrFBaM5I4Kaqgmg_2hW_2hfU

GOOGLE_MAPS_API_KEY=
FIREBASE_PROJECT_ID=
