# OS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/
dist/
build/
.next/
coverage/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

